@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark.shadcn-sheet-content {
    background-color: #1f2937; 
    border: #1f2937;
    color: #ffffff; 
    
}
  
.light.shadcn-sheet-content {
    background-color: #ffffff; 
    color: #000000;
}
  